mat-sidenav-container {
    box-sizing: border-box;
    height: calc(100vh - 64px);
}

.active {
    background: rgba(0, 0, 0, 0.1);
}

.toolbar {
    position: relative;
    z-index: 6;
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}