<img src="/assets/logo.png">
<h3>What is GCPUG?</h3>
<p>
  GCPUG(ジーシーパグ)はGoogle Cloud Platformを普及させることを目的とし、Googleと共にGCPをより良くし、盛り上げていくユーザーグループです。
  私たちに共感していただける方なら、GCPUGへの参加は自由です。一緒に GCP を盛り上げていきましょう。
</p>
<p>
  GCPUGはどなたでも参加できます。
  GCPをすでにお使いの方も、これから初めようと思っている方も歓迎します。
</p>
<p>
  GCPUGは物理的に集めって行うイベントとインターネット上での活動の2つがあります。
  各地でイベントが開かれているので、支部一覧からお近くの支部を探してみてください。
  インターネット上での活動はGoogle Group, Slack, Stackoverflowの3つがあります。
  <a href="https://groups.google.com/a/gcpug.jp/forum/#!forum/users" target="_blank">Google Group</a>, <a href="https://docs.google.com/forms/d/1Pe2idyW79_GsYPHkON_oulC7hfzszzwWORbOi6q46uI/viewform" target="_blank">Slack</a> はだれでも参加できます。
  特にSlackはかなり活発にやり取りが行われています。
</p>
<h3>Stackoverflow Tag</h3>
<p>
  GCPは <a hrer="https://cloud.google.com/support/docs/stackexchange" target="_blank">Stack Overflow</a> などのサイトにGoogleのエンジニアも参加して、質問への回答を行っています。
  しかし、英語サイトしかサポートしていないため、日本語の質問はなるべくコミュニティで回答するようにしています。
  現状、コミュニティがサポートしているのは、 <a href="https://ja.stackoverflow.com/" target="_blank">日本語版Stack Overflow</a> です。
  GCP公式と同じタグをサポートをしています。
</p>
<ul>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-app-engine" target="_blank">Google App Engine</a></li>
</ul>
<h3>SNS</h3>
<p>
  twitterのハッシュタグは <a href="https://twitter.com/hashtag/gcpug?f=tweets&vertical=default&src=hash" target="_blank">#gcpug</a> です。
</p>
<h3>禁止事項</h3>
<p>
  GCPUGはGCPのナレッジの共有を目的としたコミュニティです。
</p>
<mat-list>
  <mat-list-item>他社批判をしない（比較はWelcome）</mat-list-item>
  <mat-list-item>お金儲けに使わない</mat-list-item>
  <mat-list-item>誹謗中傷をしない</mat-list-item>
  <mat-list-item>迷惑行為をしない</mat-list-item>
  <mat-list-item>内輪ネタにしない</mat-list-item>
  <mat-list-item>来るものを拒まない</mat-list-item>
  <mat-list-item>押し売りをしない</mat-list-item>
</mat-list>
