<img src="/assets/logo.png">
<h3>What is GCPUG?</h3>
<p>
  GCPUG(ジーシーパグ)はGoogle Cloud Platformを普及させることを目的とし、Googleと共にGCPをより良くし、盛り上げていくユーザーグループです。
  私たちに共感していただける方なら、GCPUGへの参加は自由です。一緒に GCP を盛り上げていきましょう。
</p>
<p>
  GCPUGはどなたでも参加できます。
  GCPをすでにお使いの方も、これから初めようと思っている方も歓迎します。
</p>
<p>
  GCPUGは物理的に集めって行うイベントとインターネット上での活動の2つがあります。
  各地でイベントが開かれているので、支部一覧からお近くの支部を探してみてください。
  インターネット上での活動はGoogle Group, Slack, Stackoverflowの3つがあります。
  <a href="https://groups.google.com/a/gcpug.jp/forum/#!forum/users" target="_blank">Google Group</a>, <a href="https://join.slack.com/t/gcpug/shared_invite/enQtNDMzNjM1Njc3NDkyLWViZmUyNDRhZTJmZTA1YjNhOTUzNDZiZDE5MjRiMzQxN2I1ZTkxMDZjMDcwMDEwOWE0NjFhOGIzZGQzYjhkNWQ" target="_blank">Slack</a> はだれでも参加できます。
  特にSlackはかなり活発にやり取りが行われています。
</p>
<h3>ノウハウ</h3>
<p>
  GCPのノウハウを共有するためのリポジトリとして <a href="https://github.com/gcpug/nouhau" target="_blank">nouhau</a> を作成しています。
  これからGCPを始めようと思っている方には <a href="https://github.com/gcpug/nouhau/tree/master/general/note/link" target="_blank">GCP お役立ち Link集がおすすめです。</a>
  あなたがすでにGCPを利用していてノウハウを持っている場合は、ぜひPull Requestをお願いします。
</p>
<h3>YouTube</h3>
<p>
  東京で行われたイベントのセッションを録画したものを <a href="https://www.youtube.com/channel/UCCw7gdgXcnxarKCEGUFELAQ" target="_blank">YouTube</a> にアップロードしています。
  イベントの雰囲気を感じたり、過去のセッションを見ることができます。
</p>
<h3>SNS</h3>
<p>
  twitterのハッシュタグは <a href="https://twitter.com/hashtag/gcpug?f=tweets&vertical=default&src=hash" target="_blank">#gcpug</a> です。
</p>
<h3>Stackoverflow Tag</h3>
<p>
  GCPは <a href="https://cloud.google.com/support/docs/stackexchange" target="_blank">Stack Overflow</a> などのサイトにGoogleのエンジニアも参加して、質問への回答を行っています。
  しかし、英語サイトしかサポートしていないため、日本語の質問はなるべくコミュニティで回答するようにしています。
  現状、コミュニティがサポートしているのは、 <a href="https://ja.stackoverflow.com/" target="_blank">日本語版Stack Overflow</a> です。
  GCP公式と同じタグをサポートをしています。
</p>
<ul>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-cloud-platform" target="_blank">Google Cloud Platform</a></li>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-app-engine" target="_blank">Google App Engine</a></li>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/app-engine-flexible" target="_blank">Google App Engine Flex</a></li>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-compute-engine" target="_blank">Google Compute Engine</a></li>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-container-engine" target="_blank">Google Kubernetes Engine</a></li>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-cloud-storage" target="_blank">Google Cloud Storage</a></li>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-cloud-bigtable" target="_blank">Google Cloud Bigtable</a></li>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-cloud-datastore" target="_blank">Google Cloud Datastore</a></li>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-bigquery" target="_blank">BigQuery</a></li>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-cloud-dataflow" target="_blank">Google Cloud Dataflow</a></li>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-cloud-dataproc" target="_blank">Google Cloud Dataproc</a></li>
  <li><a href="https://ja.stackoverflow.com/questions/tagged/google-cloud-pubsub" target="_blank">Google Cloud Pub/Sub</a></li>
</ul>
<h3>禁止事項</h3>
<p>
  GCPUGはGCPのナレッジの共有を目的としたコミュニティです。
</p>
<ul>
  <li>他社批判をしない（比較はWelcome）</li>
  <li>お金儲けに使わない</li>
  <li>誹謗中傷をしない</li>
  <li>迷惑行為をしない</li>
  <li>内輪ネタにしない</li>
  <li>来るものを拒まない</li>
  <li>押し売りをしない</li>
</ul>
